.example-spacer {
    flex: 1 1 auto;
  }

.main-body{
  max-width: 1248px;
  mat-form-field{
    width: 90%;
    padding-left: 50px;
    margin-top: 15px;
  }
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.table-container {
  margin: 20px;
}

mat-paginator {
  margin-top: 20px;
}
.scrollable-div {
  overflow-y: auto; /* or auto depending on your design */
}
.tap-highlight {
  -webkit-tap-highlight-color: transparent; /* Use cautiously */
}

.table-container-wrapper {
  display: flex;
  flex-direction: column;
}

.table-container {
  overflow-x: auto;
  white-space: nowrap;
}

table {
  width: 100%; /* Ensure the table takes the full width */
}